<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <title class="search_inquiry"> Court Avengers </title>

        <link rel="stylesheet" href="/static/style.css">
        <link href="/static/jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
        <link href="/static/jquery/css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    </head>
    <body style="background-color: whitesmoke;">
        <script src="/static/jquery/js/jquery-1.9.0.min.js"></script>
        <script src="/static/jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="/static/searchresults.js"></script>

        <nav class="navbar sticky-top p-3" style="background-color: #8C1515;">
            <span class="websiteNameSmall"> Court Avengers </span>
            <span>
                <button class="microphone" style="margin-left: 20px; position: fixed;"><i class="fa fa-microphone fa-2x"></i></button>
                <form class="searchbar">
                    <a class="enter" href="{{ url_for('search')}}">
                        <input class="input" style="width: 400px;" type="search" autocomplete="off" spellcheck="false" role="combobox" aria-live="polite"
                    placeholder="How can we help you?">
                    </a>
                </form>
            </span>
        </nav>

        <div class="mt-1">
           <div class="row">
               <div class="col-2"> 
               </div>
               <div class="col-6 search-entries">
                   <div class="one-entry" style="background-color: whitesmoke; margin-top: 0; margin-bottom: -20px; position: static;">
                        <div class="radio-categories">
                            <input class="all" name="button" type="radio" checked> All &nbsp
                            <input class="relevant-laws" name="button" type="radio"> Relevant Laws &nbsp
                            <input class="case-precedents" name="button" type="radio"> Case Precedents &nbsp
                        </div>
                        <hr>
                    </div>
                    <div class="one-entry">
                        <div class="hoverable">
                            <div class="law-kind"> Relevant Law or Case Precedent? </div> 
                            <h5 class="law-title"> The Title of the Law </h5>
                        </div>
                        <hr>
                        <p class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <!-- <hr> -->
                    </div>
                    <div class="one-entry">
                        <div class="hoverable">
                            <div class="law-kind"> Relevant Law or Case Precedent? </div> 
                            <h5 class="law-title"> The Title of the Law </h5>
                        </div>
                        <hr>
                        <p class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <!-- <hr> -->
                    </div>
                    <div class="one-entry">
                        <div class="hoverable">
                            <div class="law-kind"> Relevant Law or Case Precedent? </div> 
                            <h5 class="law-title"> The Title of the Law </h5>
                        </div>
                        <hr>
                        <p class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <!-- <hr> -->
                    </div>
                    <div class="one-entry">
                        <div class="hoverable">
                            <div class="law-kind"> Relevant Law or Case Precedent? </div> 
                            <h5 class="law-title"> The Title of the Law </h5>
                        </div>
                        <hr>
                        <p class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <!-- <hr> -->
                    </div>
                    <div class="one-entry">
                        <div class="hoverable">
                            <div class="law-kind"> Relevant Law or Case Precedent? </div> 
                            <h5 class="law-title"> The Title of the Law </h5>
                        </div>
                        <hr>
                        <p class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <!-- <hr> -->
                    </div>
                    <br>
                    <!-- <h6 class="law-title hoverable"><center> More Results </center></h6><br>
                     -->
                     <center><input class="contact hoverable" value="More Results" type="submit"></center><br>
               </div>
           </div>
        </div>
    </body>
</html>
